@charset "utf-8";
/* CSS Document */


.no-js .btn.btn-sm.dropdown-toggle {
    color: rgba(255,255,255,1.00);
    background-color: rgba(221,37,40,1.00);
}
.md-header .btn-group .btn.btn-sm {
    color: rgba(248,243,243,1.00);
}
.md-header aside .dropdown.show .btn.btn-sm.dropdown-toggle {
    color: rgba(255,252,252,1.00);
    float: left;
}
.md-header aside .dropdown.show.col-xl-2 {
    float: left;
}
.dropdown.show.col-xl-2 .dropdown-menu .dropdown-header {
    font-size: small;
}
.dropdown.show.col-xl-2 .dropdown-menu .dropdown-item {
    font-size: small;
}
.md-header aside .dropdown.show.col-xl-2 {
}
.no-js body .md-header.col-xl-10 {
    float: right;

}
.md-tabs__inner.md-grid .md-tabs__list aside {
    float: left;
    visibility: visible;
    overflow-y: visible;
}
section aside .dropdown.show.col-xl-1 {
    background-color: rgba(84,110,122,1.00);
}
.dropdown.show.col-xl-12 .dropdown-menu .dropdown-header {
    font-size: small;
}
.dropdown.show.col-xl-12 .dropdown-menu .dropdown-item {
    font-size: small;
}
